<!DOCTYPE html>
<!--suppress ALL -->
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task Manager</title>
</head>
<body>
    <div class="container">
        <h1>Task Manager Home</h1>
        <p>Welcome to the Task Manager!</p>

        <h2>Останні завдання</h2>
        <ul>
            <li><a href="{% url 'tasks:task-list' %}">Переглянути всі завдання</a></li>
            <li><a href="{% url 'tasks:worker-task-list' %}">Мої завдання</a></li>
        </ul>

        <h3>Виконані завдання</h3>
        <ul>
            {% for task in completed_tasks %}
                <li>{{ task.name }}</li>
            {% endfor %}
        </ul>

        <h3>Невиконані завдання</h3>
        <ul>
            {% for task in pending_tasks %}
                <li>{{ task.name }}</li>
            {% endfor %}
        </ul>

        <h3>Фільтрувати за тегами</h3>
        <form method="get">
            <select name="tag">
                <option value="">--Оберіть тег--</option>
                {% for tag in tags %}
                    <option value="{{ tag.name }}" {% if tag.name == tag_filter %}selected{% endif %}>{{ tag.name }}</option>
                {% endfor %}
            </select>
            <button type="submit">Фільтрувати</button>
        </form>
    </div>
</body>

</html>
