<h2>Виконані завдання:</h2>
{% for task in completed_tasks %}
    <div>
        <h3>{{ task.title }}</h3>
        <p>Теги:</p>
        <ul>
            {% for tag in task.tags.all %}
                <li>{{ tag.name }}</li>
            {% endfor %}
        </ul>
    </div>
{% endfor %}

<h2>Невиконані завдання:</h2>
{% for task in pending_tasks %}
    <div>
        <h3>{{ task.title }}</h3>
        <p>Теги:</p>
        <ul>
            {% for tag in task.tags.all %}
                <li>{{ tag.name }}</li>
            {% endfor %}
        </ul>
    </div>
{% endfor %}
