<!-- position_form.html -->
{% extends "layouts/base.html" %}

{% block content %}
    <h2 class="text-2xl font-bold mb-4">{{ form.instance.pk|yesno:"Редагування,Створення" }} посади</h2>

    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="bg-blue-500 text-white px-4 py-2 rounded mt-4">Зберегти</button>
    </form>
    <a href="{% url 'positions:position-list' %}" class="mt-4 text-blue-500 hover:underline">Назад до списку</a>
{% endblock %}
