<!-- tasktype_form.html -->
{% extends "layouts/base.html" %}

{% block content %}
    <h2 class="text-3xl font-bold mb-6">{{ form.instance.pk|yesno:"Редагування,Створення" }} типу завдання</h2>

    <form method="post" class="bg-white p-8 shadow-lg rounded-lg">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="bg-blue-500 text-white px-6 py-3 rounded-lg hover:bg-blue-600 transition mt-4">Зберегти</button>
    </form>
    <a href="{% url 'tasks:tasktype-list' %}" class="mt-6 inline-block text-blue-500 hover:underline">Назад до списку</a>
{% endblock %}
