<!-- navigation-light.html -->
<nav class="bg-blue-600 p-4">
    <div class="container mx-auto flex items-center justify-between">
        <a href="/" class="text-white text-lg font-bold">Task Manager</a>
        <ul class="flex space-x-6">
            <li><a href="{% url 'tasks:task-list' %}" class="text-white hover:text-blue-300">Завдання</a></li>
            <li><a href="{% url 'tasks:task-create' %}" class="text-white hover:text-blue-300">Створити завдання</a></li>
            <li><a href="{% url 'tasks:project-list' %}" class="text-white hover:text-blue-300">Проекти</a></li>
            <li><a href="{% url 'tasks:team-list' %}" class="text-white hover:text-blue-300">Команди</a></li>
            <li><a href="{% url 'logout' %}" class="text-white hover:text-blue-300">Вийти</a></li>
        </ul>
    </div>
</nav>
